pipeline/1_Master_Pipeline.json
{
	"name": "1_Master_Pipeline_copy1",
	"properties": {
		"activities": [
			{
				"name": "execute_2_copy_hydration_file",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "lkp_conf_json",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "2_Hydration_file_movement",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"sharepointContainer": {
							"value": "@activity('lkp_conf_json').output.value[0].sharepointContainer",
							"type": "Expression"
						},
						"hydrationFileName": {
							"value": "@activity('lkp_conf_json').output.value[0].hydFileName",
							"type": "Expression"
						},
						"hydrationContainer": {
							"value": "@activity('lkp_conf_json').output.value[0].hydContainer",
							"type": "Expression"
						},
						"azsqlSchema": {
							"value": "@activity('lkp_conf_json').output.value[0].azsqlschema",
							"type": "Expression"
						},
						"azSqlTablelist": {
							"value": "@activity('lkp_conf_json').output.value[0].tablelist",
							"type": "Expression"
						},
						"azsqlUsername": {
							"value": "@activity('lkp_conf_json').output.value[0].azsqlUsername",
							"type": "Expression"
						},
						"statusSuccess": {
							"value": "@variables('statusSuccess')",
							"type": "Expression"
						},
						"statusFail": {
							"value": "@variables('statusFail')",
							"type": "Expression"
						},
						"parentID": {
							"value": "@activity('lkp_starting_logs').output.value[0].ID",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "lkp_conf_json",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "lkp_starting_logs",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_adls_json",
						"type": "DatasetReference",
						"parameters": {
							"containerName": {
								"value": "@variables('sharepointContainer')",
								"type": "Expression"
							},
							"fileName": {
								"value": "@variables('confFile')",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "execute_3_data_load_from_onpremise",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "execute_2_copy_hydration_file",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "3_Data_Load_from_Onpremise",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"azsqlUsername": {
							"value": "@activity('lkp_conf_json').output.value[0].azsqlUsername",
							"type": "Expression"
						},
						"azsqlSchema": {
							"value": "@activity('lkp_conf_json').output.value[0].azsqlschema",
							"type": "Expression"
						},
						"azsqlTable": {
							"value": "@activity('lkp_conf_json').output.value[0].tablelist",
							"type": "Expression"
						},
						"bronzeContainer": {
							"value": "@activity('lkp_conf_json').output.value[0].bronzeContainer",
							"type": "Expression"
						},
						"azsqlWatermarkTbl": {
							"value": "@activity('lkp_conf_json').output.value[0].azsqlWatermarkTable",
							"type": "Expression"
						},
						"statusSuccess": {
							"value": "@variables('statusSuccess')",
							"type": "Expression"
						},
						"statusFail": {
							"value": "@variables('statusFail')",
							"type": "Expression"
						},
						"parentID": {
							"value": "@activity('lkp_starting_logs').output.value[0].ID",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "lkp_starting_logs",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "web_starting_mail",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[schclouddev].[uspADFLogsStartingHierarchy]",
						"storedProcedureParameters": {
							"p_ADFName": {
								"type": "String",
								"value": {
									"value": "@pipeline().DataFactory",
									"type": "Expression"
								}
							},
							"p_ParentID": {
								"type": "Int32",
								"value": null
							},
							"p_PipelineName": {
								"type": "String",
								"value": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								}
							},
							"p_RunID": {
								"type": "String",
								"value": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							},
							"p_StartTime": {
								"type": "DateTime",
								"value": {
									"value": "@utcNow()",
									"type": "Expression"
								}
							},
							"p_TriggerId": {
								"type": "String",
								"value": {
									"value": "@pipeline().TriggerId",
									"type": "Expression"
								}
							},
							"p_TriggerName": {
								"type": "String",
								"value": {
									"value": "@pipeline().TriggerName",
									"type": "Expression"
								}
							},
							"p_TriggerTime": {
								"type": "String",
								"value": {
									"value": "@pipeline().TriggerTime",
									"type": "Expression"
								}
							},
							"p_TriggerType": {
								"type": "String",
								"value": {
									"value": "@pipeline().TriggerType",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_azsql_call_proc",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "web_starting_mail",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "lkp_starting_mail",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"url": {
						"value": "@variables('mailURL')",
						"type": "Expression"
					},
					"body": {
						"value": "{\n  \"to\": \"@{activity('lkp_starting_mail').output.value[0].to}\",\n  \"subject\": \"@{activity('lkp_starting_mail').output.value[0].subject}\",\n  \"body\": \"@{activity('lkp_starting_mail').output.value[0].body}\"\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "lkp_starting_mail",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[schclouddev].[uspSendEmailNotification]",
						"storedProcedureParameters": {
							"p_ADFName": {
								"type": "String",
								"value": {
									"value": "@pipeline().DataFactory",
									"type": "Expression"
								}
							},
							"p_EndTime": {
								"type": "DateTime",
								"value": null
							},
							"p_PipelineName": {
								"type": "String",
								"value": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								}
							},
							"p_RunID": {
								"type": "String",
								"value": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							},
							"p_StartTime": {
								"type": "DateTime",
								"value": {
									"value": "@pipeline().TriggerTime",
									"type": "Expression"
								}
							},
							"p_Status": {
								"type": "String",
								"value": {
									"value": "@variables('statusStart')",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_azsql_call_proc",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "if_any_activity_failed",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "execute_2_copy_hydration_file",
						"dependencyConditions": [
							"Completed"
						]
					},
					{
						"activity": "execute_3_data_load_from_onpremise",
						"dependencyConditions": [
							"Skipped",
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@or(\n    not(equals(activity('execute_2_copy_hydration_file').Status, 'Succeeded')),\n    not(equals(activity('execute_3_data_load_from_onpremise').Status, 'Succeeded'))\n)\n",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "stor_proc_call_end_logs_success",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[schclouddev].[uspADFLogsEndingHierarchy]",
								"storedProcedureParameters": {
									"p_CopyActivityEndTime": {
										"value": null,
										"type": "DateTime"
									},
									"p_CopyActivityStartTime": {
										"value": null,
										"type": "DateTime"
									},
									"p_CopyDurationInSecs": {
										"value": null,
										"type": "String"
									},
									"p_Destination": {
										"value": null,
										"type": "String"
									},
									"p_EffectiveIntegrationRunTime": {
										"value": null,
										"type": "String"
									},
									"p_EndTime": {
										"value": {
											"value": "@utcNow()",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"p_ErrorMessage": {
										"value": null,
										"type": "String"
									},
									"p_NoOfParallelCopies": {
										"value": null,
										"type": "Int32"
									},
									"p_ParentID": {
										"value": {
											"value": "@activity('lkp_starting_logs').output.value[0].ID",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"p_RowsCopied": {
										"value": null,
										"type": "String"
									},
									"p_RowsRead": {
										"value": null,
										"type": "Int32"
									},
									"p_SinkType": {
										"value": null,
										"type": "String"
									},
									"p_Source": {
										"value": null,
										"type": "String"
									},
									"p_SourceType": {
										"value": null,
										"type": "String"
									},
									"p_Status": {
										"value": {
											"value": "@variables('statusSuccess')",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_azsql_non_param",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "lkp_success_mail",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "stor_proc_call_end_logs_success",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderStoredProcedureName": "[schclouddev].[uspSendEmailNotification]",
									"storedProcedureParameters": {
										"p_ADFName": {
											"type": "String",
											"value": {
												"value": "@pipeline().DataFactory",
												"type": "Expression"
											}
										},
										"p_EndTime": {
											"type": "DateTime",
											"value": {
												"value": "@utcNow()",
												"type": "Expression"
											}
										},
										"p_PipelineName": {
											"type": "String",
											"value": {
												"value": "@pipeline().Pipeline",
												"type": "Expression"
											}
										},
										"p_RunID": {
											"type": "String",
											"value": {
												"value": "@pipeline().RunId",
												"type": "Expression"
											}
										},
										"p_StartTime": {
											"type": "DateTime",
											"value": {
												"value": "@pipeline().TriggerTime",
												"type": "Expression"
											}
										},
										"p_Status": {
											"type": "String",
											"value": {
												"value": "@variables('statusSuccess')",
												"type": "Expression"
											}
										}
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "ds_azsql_call_proc",
									"type": "DatasetReference"
								},
								"firstRowOnly": false
							}
						},
						{
							"name": "web_success_mail",
							"type": "WebActivity",
							"dependsOn": [
								{
									"activity": "lkp_success_mail",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"method": "POST",
								"url": {
									"value": "@variables('mailURL')",
									"type": "Expression"
								},
								"body": {
									"value": "{\n  \"to\": \"@{activity('lkp_success_mail').output.value[0].to}\",\n  \"subject\": \"@{activity('lkp_success_mail').output.value[0].subject}\",\n  \"body\": \"@{activity('lkp_success_mail').output.value[0].body}\"\n}",
									"type": "Expression"
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "stor_proc_call_end_logs_failed_tbl",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[schclouddev].[uspADFLogsEndingHierarchy]",
								"storedProcedureParameters": {
									"p_CopyActivityEndTime": {
										"value": null,
										"type": "DateTime"
									},
									"p_CopyActivityStartTime": {
										"value": null,
										"type": "DateTime"
									},
									"p_CopyDurationInSecs": {
										"value": null,
										"type": "String"
									},
									"p_Destination": {
										"value": null,
										"type": "String"
									},
									"p_EffectiveIntegrationRunTime": {
										"value": null,
										"type": "String"
									},
									"p_EndTime": {
										"value": {
											"value": "@utcNow()",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"p_ErrorMessage": {
										"value": {
											"value": "@concat(\n    'Pipeline ',\n    pipeline().Pipeline,\n    ' has failed. Refer Pipeline Run Id: ',\n    pipeline().RunId\n)",
											"type": "Expression"
										},
										"type": "String"
									},
									"p_NoOfParallelCopies": {
										"value": null,
										"type": "Int32"
									},
									"p_ParentID": {
										"value": {
											"value": "@activity('lkp_starting_logs').output.value[0].ID",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"p_RowsCopied": {
										"value": null,
										"type": "String"
									},
									"p_RowsRead": {
										"value": null,
										"type": "Int32"
									},
									"p_SinkType": {
										"value": null,
										"type": "String"
									},
									"p_Source": {
										"value": null,
										"type": "String"
									},
									"p_SourceType": {
										"value": null,
										"type": "String"
									},
									"p_Status": {
										"value": {
											"value": "@variables('statusFail')",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_azsql_non_param",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "lkp_fail_tbl_mail",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "stor_proc_call_end_logs_failed_tbl",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderStoredProcedureName": "[schclouddev].[uspSendEmailNotification]",
									"storedProcedureParameters": {
										"p_ADFName": {
											"type": "String",
											"value": {
												"value": "@pipeline().DataFactory",
												"type": "Expression"
											}
										},
										"p_EndTime": {
											"type": "DateTime",
											"value": {
												"value": "@utcNow()",
												"type": "Expression"
											}
										},
										"p_PipelineName": {
											"type": "String",
											"value": {
												"value": "@pipeline().Pipeline",
												"type": "Expression"
											}
										},
										"p_RunID": {
											"type": "String",
											"value": {
												"value": "@pipeline().RunId",
												"type": "Expression"
											}
										},
										"p_StartTime": {
											"type": "DateTime",
											"value": {
												"value": "@pipeline().TriggerTime",
												"type": "Expression"
											}
										},
										"p_Status": {
											"type": "String",
											"value": {
												"value": "@variables('statusFail')",
												"type": "Expression"
											}
										}
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "ds_azsql_call_proc",
									"type": "DatasetReference"
								},
								"firstRowOnly": false
							}
						},
						{
							"name": "web_fail_tbl_mail",
							"type": "WebActivity",
							"dependsOn": [
								{
									"activity": "lkp_fail_tbl_mail",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"method": "POST",
								"url": {
									"value": "@variables('mailURL')",
									"type": "Expression"
								},
								"body": {
									"value": "{\n  \"to\": \"@{activity('lkp_fail_tbl_mail').output.value[0].to}\",\n  \"subject\": \"@{activity('lkp_fail_tbl_mail').output.value[0].subject}\",\n  \"body\": \"@{activity('lkp_fail_tbl_mail').output.value[0].body}\"\n}",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"sharepointContainer": {
				"type": "String",
				"defaultValue": "sharepoint"
			},
			"confFile": {
				"type": "String",
				"defaultValue": "conf.json"
			},
			"schemaName": {
				"type": "String"
			},
			"tablelistName": {
				"type": "String"
			},
			"azsqlUsername": {
				"type": "String",
				"defaultValue": "sqladmin"
			},
			"statusSuccess": {
				"type": "String",
				"defaultValue": "Success"
			},
			"statusFail": {
				"type": "String",
				"defaultValue": "Failed"
			},
			"adfLogsTbl": {
				"type": "String"
			},
			"StartLogsProc": {
				"type": "String"
			},
			"EndLogsProc": {
				"type": "String"
			},
			"statusStart": {
				"type": "String",
				"defaultValue": "Start"
			},
			"mailURL": {
				"type": "String",
				"defaultValue": "https://prod-00.northcentralus.logic.azure.com:443/workflows/79bd6ffb4b244869aa87c7dbcb7db1e6/triggers/When_an_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_an_HTTP_request_is_received%2Frun&sv=1.0&sig=oCFtEy4yMUrW8pLT0nHgy6b9RpDxhMXsdLZMRi-39pw"
			}
		},
		"annotations": []
	}
}