pipeline/1_Master_Pipeline.json
{
	"name": "1_Master_Pipeline",
	"properties": {
		"activities": [
			{
				"name": "execute_2_copy_hydration_file",
				"type": "ExecutePipeline",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "lkp_starting_logs",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "2_Hydration_file_movement",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"sharepointContainer": {
							"value": "@activity('lkp_conf_json').output.value[0].sharepointContainer",
							"type": "Expression"
						},
						"hydrationFileName": {
							"value": "@activity('lkp_conf_json').output.value[0].hydFileName",
							"type": "Expression"
						},
						"hydrationContainer": {
							"value": "@activity('lkp_conf_json').output.value[0].hydContainer",
							"type": "Expression"
						},
						"azsqlSchema": {
							"value": "@activity('lkp_conf_json').output.value[0].azsqlschema",
							"type": "Expression"
						},
						"azSqlTablelist": {
							"value": "@activity('lkp_conf_json').output.value[0].tablelist",
							"type": "Expression"
						},
						"azsqlUsername": {
							"value": "@activity('lkp_conf_json').output.value[0].azsqlUsername",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "lkp_conf_json",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_adls_json",
						"type": "DatasetReference",
						"parameters": {
							"containerName": {
								"value": "@variables('sharepointContainer')",
								"type": "Expression"
							},
							"fileName": {
								"value": "@variables('confFile')",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "execute_3_data_load_from_onpremise",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "execute_2_copy_hydration_file",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "3_Data_Load_from_Onpremise",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"azsqlUsername": {
							"value": "@activity('lkp_conf_json').output.value[0].azsqlUsername",
							"type": "Expression"
						},
						"azsqlSchema": {
							"value": "@activity('lkp_conf_json').output.value[0].azsqlschema",
							"type": "Expression"
						},
						"azsqlTable": {
							"value": "@activity('lkp_conf_json').output.value[0].tablelist",
							"type": "Expression"
						},
						"bronzeContainer": {
							"value": "@activity('lkp_conf_json').output.value[0].bronzeContainer",
							"type": "Expression"
						},
						"azsqlWatermarkTbl": {
							"value": "@activity('lkp_conf_json').output.value[0].azsqlWatermarkTable",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "lkp_starting_logs",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "lkp_conf_json",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_azsql_call_proc",
						"type": "DatasetReference",
						"parameters": {
							"username": {
								"value": "@activity('lkp_conf_json').output.value[0].azsqlUsername",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			}
		],
		"variables": {
			"sharepointContainer": {
				"type": "String",
				"defaultValue": "sharepoint"
			},
			"confFile": {
				"type": "String",
				"defaultValue": "conf.json"
			},
			"schemaName": {
				"type": "String"
			},
			"tablelistName": {
				"type": "String"
			},
			"azsqlUsername": {
				"type": "String",
				"defaultValue": "sqladmin"
			},
			"statusSuccess": {
				"type": "String",
				"defaultValue": "Success"
			},
			"statusFail": {
				"type": "String",
				"defaultValue": "Failed"
			},
			"adfLogsTbl": {
				"type": "String"
			},
			"StartLogsProc": {
				"type": "String"
			},
			"EndLogsProc": {
				"type": "String"
			}
		},
		"annotations": []
	}
}