pipeline/1_Master_Pipeline.json
{
	"name": "1_Master_Pipeline",
	"properties": {
		"activities": [
			{
				"name": "execute_2_copy_hydration_file",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "lkp_conf_json",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "2_Hydration_file_movement",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"sharepointContainer": {
							"value": "@activity('lkp_conf_json').output.value[0].sharepointContainer",
							"type": "Expression"
						},
						"hydrationFileName": {
							"value": "@activity('lkp_conf_json').output.value[0].hydFileName",
							"type": "Expression"
						},
						"hydrationContainer": {
							"value": "@activity('lkp_conf_json').output.value[0].hydContainer",
							"type": "Expression"
						},
						"azsqlSchema": {
							"value": "@activity('lkp_conf_json').output.value[0].azsqlschema",
							"type": "Expression"
						},
						"azSqlTablelist": {
							"value": "@activity('lkp_conf_json').output.value[0].tablelist",
							"type": "Expression"
						},
						"azsqlUsername": {
							"value": "@activity('lkp_conf_json').output.value[0].azsqlUsername",
							"type": "Expression"
						},
						"statusSuccess": {
							"value": "@variables('statusSuccess')",
							"type": "Expression"
						},
						"statusFail": {
							"value": "@variables('statusFail')",
							"type": "Expression"
						},
						"parentID": {
							"value": "@activity('lkp_starting_logs').output.value[0].ID",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "lkp_conf_json",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "lkp_starting_logs",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_adls_json",
						"type": "DatasetReference",
						"parameters": {
							"containerName": {
								"value": "@variables('sharepointContainer')",
								"type": "Expression"
							},
							"fileName": {
								"value": "@variables('confFile')",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "execute_3_data_load_from_onpremise",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "execute_2_copy_hydration_file",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "3_Data_Load_from_Onpremise",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"azsqlUsername": {
							"value": "@activity('lkp_conf_json').output.value[0].azsqlUsername",
							"type": "Expression"
						},
						"azsqlSchema": {
							"value": "@activity('lkp_conf_json').output.value[0].azsqlschema",
							"type": "Expression"
						},
						"azsqlTable": {
							"value": "@activity('lkp_conf_json').output.value[0].tablelist",
							"type": "Expression"
						},
						"bronzeContainer": {
							"value": "@activity('lkp_conf_json').output.value[0].bronzeContainer",
							"type": "Expression"
						},
						"azsqlWatermarkTbl": {
							"value": "@activity('lkp_conf_json').output.value[0].azsqlWatermarkTable",
							"type": "Expression"
						},
						"statusSuccess": {
							"value": "@variables('statusSuccess')",
							"type": "Expression"
						},
						"statusFail": {
							"value": "@variables('statusFail')",
							"type": "Expression"
						},
						"parentID": {
							"value": "@activity('lkp_starting_logs').output.value[0].ID",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "lkp_starting_logs",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[schclouddev].[uspADFLogsStartingHierarchy]",
						"storedProcedureParameters": {
							"p_ADFName": {
								"type": "String",
								"value": {
									"value": "@pipeline().DataFactory",
									"type": "Expression"
								}
							},
							"p_parentid": {
								"type": "Int32",
								"value": null
							},
							"p_PipelineName": {
								"type": "String",
								"value": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								}
							},
							"p_RunID": {
								"type": "String",
								"value": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							},
							"p_StartTime": {
								"type": "DateTime",
								"value": {
									"value": "@utcNow()",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_azsql_call_proc",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "stor_proc_call_end_logs_success",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "execute_3_data_load_from_onpremise",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[schclouddev].[uspADFLogsEndingHierarchy]",
					"storedProcedureParameters": {
						"p_EndTime": {
							"value": {
								"value": "@utcNow()",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"p_ErrorMessage": {
							"value": null,
							"type": "String"
						},
						"p_parentid": {
							"value": {
								"value": "@activity('lkp_starting_logs').output.value[0].ID",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"p_status": {
							"value": {
								"value": "@variables('statusSuccess')",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_azsql_non_param",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "stor_proc_call_end_logs_failed_hyd_copy",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "execute_2_copy_hydration_file",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[schclouddev].[uspADFLogsEndingHierarchy]",
					"storedProcedureParameters": {
						"p_EndTime": {
							"value": {
								"value": "@utcNow()",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"p_ErrorMessage": {
							"value": {
								"value": "@concat(activity('execute_2_copy_hydration_file').output.pipelineName,'has been failed. Refer the pipline run id: ',activity('execute_2_copy_hydration_file').output.pipelineRunId )",
								"type": "Expression"
							},
							"type": "String"
						},
						"p_parentid": {
							"value": {
								"value": "@activity('lkp_starting_logs').output.value[0].ID",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"p_status": {
							"value": {
								"value": "@variables('statusFail')",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_azsql_non_param",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"sharepointContainer": {
				"type": "String",
				"defaultValue": "sharepoint"
			},
			"confFile": {
				"type": "String",
				"defaultValue": "conf.json"
			},
			"schemaName": {
				"type": "String"
			},
			"tablelistName": {
				"type": "String"
			},
			"azsqlUsername": {
				"type": "String",
				"defaultValue": "sqladmin"
			},
			"statusSuccess": {
				"type": "String",
				"defaultValue": "Success"
			},
			"statusFail": {
				"type": "String",
				"defaultValue": "Failed"
			},
			"adfLogsTbl": {
				"type": "String"
			},
			"StartLogsProc": {
				"type": "String"
			},
			"EndLogsProc": {
				"type": "String"
			}
		},
		"annotations": []
	}
}