pipeline/2_Hydration_file_movement.json
{
	"name": "2_Hydration_file_movement",
	"properties": {
		"activities": [
			{
				"name": "copy_hydration_file_from_sharepoint_to_dl",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "set_folder_path",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_adls",
						"type": "DatasetReference",
						"parameters": {
							"containerName": {
								"value": "@pipeline().parameters.sharepointContainer",
								"type": "Expression"
							},
							"fileName": {
								"value": "@pipeline().parameters.hydrationFileName",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_hydration",
						"type": "DatasetReference",
						"parameters": {
							"folderPath": {
								"value": "@variables('folderPath')",
								"type": "Expression"
							},
							"container": {
								"value": "@pipeline().parameters.hydrationContainer",
								"type": "Expression"
							},
							"fileName": {
								"value": "@pipeline().parameters.hydrationFileName",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "copy_hydration_file_from_dl_to_table",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "copy_hydration_file_from_sharepoint_to_dl",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": {
							"value": "truncate table @{pipeline().parameters.azsqlSchema}.@{pipeline().parameters.azSqlTablelist}",
							"type": "Expression"
						},
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_hydration",
						"type": "DatasetReference",
						"parameters": {
							"folderPath": {
								"value": "@variables('folderPath')",
								"type": "Expression"
							},
							"container": {
								"value": "@pipeline().parameters.hydrationContainer",
								"type": "Expression"
							},
							"fileName": {
								"value": "@pipeline().parameters.hydrationFileName",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_sql_cloud_dev",
						"type": "DatasetReference",
						"parameters": {
							"username": {
								"value": "@pipeline().parameters.azsqlUsername",
								"type": "Expression"
							},
							"schema": {
								"value": "@pipeline().parameters.azsqlSchema",
								"type": "Expression"
							},
							"table": {
								"value": "@pipeline().parameters.azSqlTablelist",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "set_folder_path",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "lkp_starting_logs",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "folderPath",
					"value": {
						"value": "@concat(substring(utcNow(),0 ,4 ),'/',substring(utcNow(),5 ,2 ),'/',substring(utcNow(), 8, 2))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "lkp_starting_logs",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[schclouddev].[uspADFLogsStartingHierarchy]",
						"storedProcedureParameters": {
							"p_ADFName": {
								"type": "String",
								"value": {
									"value": "@pipeline().DataFactory",
									"type": "Expression"
								}
							},
							"p_ParentID": {
								"type": "Int32",
								"value": {
									"value": "@pipeline().parameters.parentID",
									"type": "Expression"
								}
							},
							"p_PipelineName": {
								"type": "String",
								"value": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								}
							},
							"p_RunID": {
								"type": "String",
								"value": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							},
							"p_StartTime": {
								"type": "DateTime",
								"value": {
									"value": "@utcNow()",
									"type": "Expression"
								}
							},
							"p_TriggerId": {
								"type": "String",
								"value": {
									"value": "@pipeline().TriggerId",
									"type": "Expression"
								}
							},
							"p_TriggerName": {
								"type": "String",
								"value": {
									"value": "@pipeline().TriggerName",
									"type": "Expression"
								}
							},
							"p_TriggerTime": {
								"type": "String",
								"value": {
									"value": "@pipeline().TriggerTime",
									"type": "Expression"
								}
							},
							"p_TriggerType": {
								"type": "String",
								"value": {
									"value": "@pipeline().TriggerType",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_azsql_call_proc",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "if_any_activity_failed",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "copy_hydration_file_from_dl_to_table",
						"dependencyConditions": [
							"Completed",
							"Skipped"
						]
					},
					{
						"activity": "copy_hydration_file_from_sharepoint_to_dl",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@or(\n    not(equals(activity('copy_hydration_file_from_sharepoint_to_dl').Status, 'Succeeded')),\n    not(equals(activity('copy_hydration_file_from_dl_to_table').Status, 'Succeeded'))\n)\n",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "stor_proc_call_end_logs_success",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[schclouddev].[uspADFLogsEndingHierarchy]",
								"storedProcedureParameters": {
									"p_CopyActivityEndTime": {
										"value": {
											"value": "@activity('copy_hydration_file_from_dl_to_table').ExecutionEndTime",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"p_CopyActivityStartTime": {
										"value": {
											"value": "@activity('copy_hydration_file_from_dl_to_table').ExecutionStartTime",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"p_CopyDurationInSecs": {
										"value": {
											"value": "@activity('copy_hydration_file_from_dl_to_table').output.copyDuration",
											"type": "Expression"
										},
										"type": "String"
									},
									"p_Destination": {
										"value": {
											"value": "@concat(pipeline().parameters.azsqlSchema,'.',pipeline().parameters.azSqlTablelist)",
											"type": "Expression"
										},
										"type": "String"
									},
									"p_EffectiveIntegrationRunTime": {
										"value": {
											"value": "@activity('copy_hydration_file_from_dl_to_table').output.effectiveIntegrationRuntime",
											"type": "Expression"
										},
										"type": "String"
									},
									"p_EndTime": {
										"value": {
											"value": "@utcNow()",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"p_ErrorMessage": {
										"value": null,
										"type": "String"
									},
									"p_NoOfParallelCopies": {
										"value": {
											"value": "@activity('copy_hydration_file_from_dl_to_table').output.usedParallelCopies",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"p_ParentID": {
										"value": {
											"value": "@activity('lkp_starting_logs').output.value[0].ID",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"p_RowsCopied": {
										"value": {
											"value": "@activity('copy_hydration_file_from_dl_to_table').output.rowsRead",
											"type": "Expression"
										},
										"type": "String"
									},
									"p_RowsRead": {
										"value": {
											"value": "@activity('copy_hydration_file_from_dl_to_table').output.rowsRead",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"p_SinkType": {
										"value": {
											"value": "@activity('copy_hydration_file_from_dl_to_table').output.executionDetails[0].sink.type",
											"type": "Expression"
										},
										"type": "String"
									},
									"p_Source": {
										"value": {
											"value": "@concat(pipeline().parameters.hydrationContainer,'/',variables('folderPath'),'/',pipeline().parameters.hydrationFileName)",
											"type": "Expression"
										},
										"type": "String"
									},
									"p_SourceType": {
										"value": {
											"value": "@activity('copy_hydration_file_from_dl_to_table').output.executionDetails[0].source.type",
											"type": "Expression"
										},
										"type": "String"
									},
									"p_Status": {
										"value": {
											"value": "@pipeline().parameters.statusSuccess",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_azsql_non_param",
								"type": "LinkedServiceReference"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "stor_proc_call_end_logs_fail",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[schclouddev].[uspADFLogsEndingHierarchy]",
								"storedProcedureParameters": {
									"p_CopyActivityEndTime": {
										"value": {
											"value": "@if(equals(activity('copy_hydration_file_from_sharepoint_to_dl').Status, 'Failed'),activity('copy_hydration_file_from_sharepoint_to_dl').ExecutionEndTime,\nactivity('copy_hydration_file_from_dl_to_table').ExecutionEndTime)",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"p_CopyActivityStartTime": {
										"value": {
											"value": "@if(equals(activity('copy_hydration_file_from_sharepoint_to_dl').Status, 'Failed'),activity('copy_hydration_file_from_sharepoint_to_dl').ExecutionStartTime,\nactivity('copy_hydration_file_from_dl_to_table').ExecutionStartTime)\n",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"p_CopyDurationInSecs": {
										"value": {
											"value": "@if(equals(activity('copy_hydration_file_from_sharepoint_to_dl').Status, 'Failed'),activity('copy_hydration_file_from_sharepoint_to_dl').output.copyDuration,\nactivity('copy_hydration_file_from_dl_to_table').output.copyDuration)\n",
											"type": "Expression"
										},
										"type": "String"
									},
									"p_Destination": {
										"value": {
											"value": "@if(equals(activity('copy_hydration_file_from_sharepoint_to_dl').Status, 'Failed'),concat(pipeline().parameters.hydrationContainer,'/',variables('folderPath'),'/',pipeline().parameters.hydrationFileName),\nconcat(pipeline().parameters.azsqlSchema,'.',pipeline().parameters.azSqlTablelist))",
											"type": "Expression"
										},
										"type": "String"
									},
									"p_EffectiveIntegrationRunTime": {
										"value": {
											"value": "@if(equals(activity('copy_hydration_file_from_sharepoint_to_dl').Status, 'Failed'),activity('copy_hydration_file_from_sharepoint_to_dl').output.effectiveIntegrationRuntime,\nactivity('copy_hydration_file_from_dl_to_table').output.effectiveIntegrationRuntime)",
											"type": "Expression"
										},
										"type": "String"
									},
									"p_EndTime": {
										"value": {
											"value": "@utcNow()",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"p_ErrorMessage": {
										"value": {
											"value": "@if(equals(activity('copy_hydration_file_from_sharepoint_to_dl').Status, 'Failed'),activity('copy_hydration_file_from_sharepoint_to_dl').output.errors[0].Message,\nactivity('copy_hydration_file_from_dl_to_table').output.errors[0].Message)",
											"type": "Expression"
										},
										"type": "String"
									},
									"p_NoOfParallelCopies": {
										"value": {
											"value": "@if(equals(activity('copy_hydration_file_from_sharepoint_to_dl').Status, 'Failed'),activity('copy_hydration_file_from_sharepoint_to_dl').output.usedParallelCopies,\nactivity('copy_hydration_file_from_dl_to_table').output.usedParallelCopies)\n",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"p_ParentID": {
										"value": {
											"value": "@activity('lkp_starting_logs').output.value[0].ID",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"p_RowsCopied": {
										"value": {
											"value": "@if(equals(activity('copy_hydration_file_from_sharepoint_to_dl').Status, 'Failed'),'',\nstring(activity('copy_hydration_file_from_dl_to_table').output.rowsRead))",
											"type": "Expression"
										},
										"type": "String"
									},
									"p_RowsRead": {
										"value": {
											"value": "@if(equals(activity('copy_hydration_file_from_sharepoint_to_dl').Status, 'Failed'),0,\nactivity('copy_hydration_file_from_dl_to_table').output.rowsRead)",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"p_SinkType": {
										"value": {
											"value": "@if(equals(activity('copy_hydration_file_from_sharepoint_to_dl').Status, 'Failed'),activity('copy_hydration_file_from_sharepoint_to_dl').output.executionDetails[0].sink.type,\nactivity('copy_hydration_file_from_dl_to_table').output.executionDetails[0].sink.type)\n",
											"type": "Expression"
										},
										"type": "String"
									},
									"p_Source": {
										"value": {
											"value": "@if(equals(activity('copy_hydration_file_from_sharepoint_to_dl').Status, 'Failed'),\nconcat(pipeline().parameters.sharepointContainer,'/',pipeline().parameters.hydrationFileName),\nconcat(pipeline().parameters.hydrationContainer,'/',variables('folderPath'),'/',pipeline().parameters.hydrationFileName))\n",
											"type": "Expression"
										},
										"type": "String"
									},
									"p_SourceType": {
										"value": {
											"value": "@if(equals(activity('copy_hydration_file_from_sharepoint_to_dl').Status, 'Failed'),activity('copy_hydration_file_from_sharepoint_to_dl').output.executionDetails[0].source.type,\nactivity('copy_hydration_file_from_dl_to_table').output.executionDetails[0].source.type)\n",
											"type": "Expression"
										},
										"type": "String"
									},
									"p_Status": {
										"value": {
											"value": "@pipeline().parameters.statusFail",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_azsql_non_param",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "fail_copy_activity",
							"type": "Fail",
							"dependsOn": [
								{
									"activity": "stor_proc_call_end_logs_fail",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"message": "@if(equals(activity('copy_hydration_file_from_sharepoint_to_dl').Status, 'Failed'),activity('copy_hydration_file_from_sharepoint_to_dl').output.errors[0].Message, activity('copy_hydration_file_from_dl_to_table').output.errors[0].Message)",
								"errorCode": {
									"value": "@if(equals(activity('copy_hydration_file_from_sharepoint_to_dl').Status, 'Failed'),activity('copy_hydration_file_from_sharepoint_to_dl').output.errors[0].Code,\nactivity('copy_hydration_file_from_dl_to_table').output.errors[0].Code)",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"sharepointContainer": {
				"type": "string"
			},
			"hydrationFileName": {
				"type": "string"
			},
			"hydrationContainer": {
				"type": "string"
			},
			"azsqlSchema": {
				"type": "string"
			},
			"azSqlTablelist": {
				"type": "string"
			},
			"azsqlUsername": {
				"type": "string"
			},
			"statusSuccess": {
				"type": "string"
			},
			"statusFail": {
				"type": "string"
			},
			"parentID": {
				"type": "string"
			}
		},
		"variables": {
			"folderPath": {
				"type": "String"
			},
			"errorMessage": {
				"type": "String"
			}
		},
		"annotations": []
	}
}