pipeline/3_Data_Load_from_Onpremise.json
{
	"name": "3_Data_Load_from_Onpremise",
	"properties": {
		"activities": [
			{
				"name": "lkp_fetch_table_list",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_sql_cloud_dev",
						"type": "DatasetReference",
						"parameters": {
							"username": {
								"value": "@pipeline().parameters.azsqlUsername",
								"type": "Expression"
							},
							"schema": {
								"value": "@pipeline().parameters.azsqlSchema",
								"type": "Expression"
							},
							"table": {
								"value": "@pipeline().parameters.azsqlTable",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "filter_full_load_tables",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "lkp_fetch_table_list",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('lkp_fetch_table_list').output.value",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(item().LoadType, 'full')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "filter_incremental_load_tables",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "lkp_fetch_table_list",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('lkp_fetch_table_list').output.value",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(item().LoadType,'inc')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "execute_4_full_load",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "filter_full_load_tables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "4_Full_load",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"fullLoadTables": {
							"value": "@activity('filter_full_load_tables').output.value",
							"type": "Expression"
						},
						"bronzeContainer": {
							"value": "@pipeline().parameters.bronzeContainer",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "execute_5_incremantal_load",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "filter_incremental_load_tables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "5_Incremental_load",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"incLoadTables": {
							"value": "@activity('filter_incremental_load_tables').output.value",
							"type": "Expression"
						},
						"bronzeContainer": {
							"value": "@pipeline().parameters.bronzeContainer",
							"type": "Expression"
						},
						"azsqlSchema": {
							"value": "@pipeline().parameters.azsqlSchema",
							"type": "Expression"
						},
						"azsqlWatermarktbl": {
							"value": "@pipeline().parameters.azsqlWatermarkTbl",
							"type": "Expression"
						},
						"azsqlUsername": {
							"value": "@pipeline().parameters.azsqlUsername",
							"type": "Expression"
						}
					}
				}
			}
		],
		"parameters": {
			"azsqlUsername": {
				"type": "string"
			},
			"azsqlSchema": {
				"type": "string"
			},
			"azsqlTable": {
				"type": "string"
			},
			"bronzeContainer": {
				"type": "string"
			},
			"azsqlWatermarkTbl": {
				"type": "string"
			},
			"statusSuccess": {
				"type": "string"
			},
			"statusFail": {
				"type": "string"
			},
			"parentID": {
				"type": "string"
			}
		},
		"annotations": []
	}
}