pipeline/3_Data_Load_from_Onpremise.json
{
	"name": "3_Data_Load_from_Onpremise",
	"properties": {
		"activities": [
			{
				"name": "lkp_fetch_table_list",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_sql_cloud_dev",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "filter_full_load_tables",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "lkp_fetch_table_list",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('lkp_fetch_table_list').output.value",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(item().LoadType, 'full')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "filter_incremental_load_tables",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "lkp_fetch_table_list",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('lkp_fetch_table_list').output.value",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(item().LoadType,'inc')",
						"type": "Expression"
					}
				}
			}
		],
		"annotations": []
	}
}