pipeline/4_Full_load.json
{
	"name": "4_Full_load",
	"properties": {
		"activities": [
			{
				"name": "ForEach_full_load",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "lkp_starting_logs",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.fullLoadTables",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "copy_full_load_tables_to_dl",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "set_temp_message",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_onprem_sql",
									"type": "DatasetReference",
									"parameters": {
										"schema": {
											"value": "@item().sourceSchema",
											"type": "Expression"
										},
										"table": {
											"value": "@item().sourceTableName",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_adls_csv_load_tables",
									"type": "DatasetReference",
									"parameters": {
										"container": {
											"value": "@pipeline().parameters.bronzeContainer",
											"type": "Expression"
										},
										"folderPath": {
											"value": "@concat(substring(utcNow(), 0,4),'/',\n        substring(utcNow(), 5,2 ),'/',\n        substring(utcNow(), 8,2 ))",
											"type": "Expression"
										},
										"fileName": {
											"value": "@concat(item().sourceSchema,'_',\n        item().sourceTableName,'.csv')",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "set_error_message",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "copy_full_load_tables_to_dl",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "errorMessage",
								"value": {
									"value": "@if(\n    empty(activity('copy_full_load_tables_to_dl').output.errors),\n    variables('tempMessage'), \n    union(variables('tempMessage'),array(activity('copy_full_load_tables_to_dl').output.errors[0].Message))\n)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "set_temp_message",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "tempMessage",
								"value": {
									"value": "@variables('errorMessage')",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "stor_proc_call_end_logs_success",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "ForEach_full_load",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[schclouddev].[uspADFLogsEndingHierarchy]",
					"storedProcedureParameters": {
						"p_EndTime": {
							"value": {
								"value": "@utcNow()",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"p_ErrorMessage": {
							"value": null,
							"type": "String"
						},
						"p_parentid": {
							"value": {
								"value": "@activity('lkp_starting_logs').output.value[0].ID",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"p_status": {
							"value": {
								"value": "@pipeline().parameters.statusSuccess",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_azsql_non_param",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "stor_proc_call_end_logs_failed",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "ForEach_full_load",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[schclouddev].[uspADFLogsEndingHierarchy]",
					"storedProcedureParameters": {
						"p_EndTime": {
							"value": {
								"value": "@utcNow()",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"p_ErrorMessage": {
							"value": {
								"value": "@string(variables('errorMessage'))",
								"type": "Expression"
							},
							"type": "String"
						},
						"p_parentid": {
							"value": {
								"value": "@activity('lkp_starting_logs').output.value[0].ID",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"p_status": {
							"value": {
								"value": "@pipeline().parameters.statusFail",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_azsql_non_param",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "lkp_starting_logs",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[schclouddev].[uspADFLogsStartingHierarchy]",
						"storedProcedureParameters": {
							"p_ADFName": {
								"type": "String",
								"value": {
									"value": "@pipeline().DataFactory",
									"type": "Expression"
								}
							},
							"p_parentid": {
								"type": "Int32",
								"value": {
									"value": "@pipeline().parameters.parentID",
									"type": "Expression"
								}
							},
							"p_PipelineName": {
								"type": "String",
								"value": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								}
							},
							"p_RunID": {
								"type": "String",
								"value": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							},
							"p_StartTime": {
								"type": "DateTime",
								"value": {
									"value": "@utcNow()",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_azsql_call_proc",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			}
		],
		"parameters": {
			"fullLoadTables": {
				"type": "array"
			},
			"bronzeContainer": {
				"type": "string"
			},
			"parentID": {
				"type": "string"
			},
			"statusSuccess": {
				"type": "string"
			},
			"statusFail": {
				"type": "string"
			}
		},
		"variables": {
			"errorMessage": {
				"type": "Array"
			},
			"tempMessage": {
				"type": "Array"
			}
		},
		"annotations": []
	}
}