pipeline/5_Incremental_load.json
{
	"name": "5_Incremental_load",
	"properties": {
		"activities": [
			{
				"name": "ForEach_incremental_load",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.incLoadTables",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "copy_incremental_load_tables_to_dl",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "lkp_fetch_watermark",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "lkp_fetch_max_modifiedDate",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": {
										"value": "select * from @{item().sourceSchema}.@{item().sourceTableName}\nwhere ModifiedDate > @{concat('''',if(\n    equals(activity('lkp_fetch_watermark').output.count, 0),'1900-01-01 00:00:00',activity('lkp_fetch_watermark').output.value[0].watermarkDateTime),'''')} \n    and ModifiedDate <= @{concat('''',activity('lkp_fetch_max_modifiedDate').output.value[0].max_modifiedDateTime,'''')} ",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_onprem_sql",
									"type": "DatasetReference",
									"parameters": {
										"schema": {
											"value": "@item().sourceSchema",
											"type": "Expression"
										},
										"table": {
											"value": "@item().sourceTableName",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_adls_csv_load_tables",
									"type": "DatasetReference",
									"parameters": {
										"container": {
											"value": "@pipeline().parameters.bronzeContainer",
											"type": "Expression"
										},
										"folderPath": {
											"value": "@concat(substring(utcNow(), 0,4),'/',\n        substring(utcNow(), 5,2 ),'/',\n        substring(utcNow(), 8,2 ))",
											"type": "Expression"
										},
										"fileName": {
											"value": "@concat(item().sourceSchema,'_',\n        item().sourceTableName,'.csv')",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "lkp_fetch_watermark",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "lkp_starting_logs",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "select watermarkDateTime from @{pipeline().parameters.azsqlSchema}.@{pipeline().parameters.azsqlWatermarktbl}\nwhere tablename = @{concat('''',item().sourceTableName,'''')}",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "ds_sql_cloud_dev",
									"type": "DatasetReference",
									"parameters": {
										"username": {
											"value": "@pipeline().parameters.azsqlUsername",
											"type": "Expression"
										},
										"schema": {
											"value": "@pipeline().parameters.azsqlSchema",
											"type": "Expression"
										},
										"table": {
											"value": "@pipeline().parameters.azsqlWatermarktbl",
											"type": "Expression"
										}
									}
								},
								"firstRowOnly": false
							}
						},
						{
							"name": "lkp_fetch_max_modifiedDate",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": {
										"value": "select max(ModifiedDate) max_modifiedDateTime from \n@{concat(item().sourceSchema,'.',item().sourceTableName)}",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "ds_onprem_sql",
									"type": "DatasetReference",
									"parameters": {
										"schema": {
											"value": "@item().sourceSchema",
											"type": "Expression"
										},
										"table": {
											"value": "@item().sourceTableName",
											"type": "Expression"
										}
									}
								},
								"firstRowOnly": false
							}
						},
						{
							"name": "script_update_watermark",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "copy_incremental_load_tables_to_dl",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "ls_kv_azsql",
								"type": "LinkedServiceReference",
								"parameters": {
									"username": {
										"value": "@pipeline().parameters.azsqlUsername",
										"type": "Expression"
									}
								}
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "update @{pipeline().parameters.azsqlSchema}.@{pipeline().parameters.azsqlWatermarktbl} \n    set watermarkDateTime = @{concat('''',activity('lkp_fetch_max_modifiedDate').output.value[0].max_modifiedDateTime,'''')} where tablename = @{concat('''',item().sourceTableName,'''')}",
											"type": "Expression"
										}
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						},
						{
							"name": "lkp_starting_logs",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderStoredProcedureName": "[schclouddev].[uspADFLogsStartingHierarchy]",
									"storedProcedureParameters": {
										"p_ADFName": {
											"type": "String",
											"value": {
												"value": "@pipeline().DataFactory",
												"type": "Expression"
											}
										},
										"p_parentid": {
											"type": "Int32",
											"value": {
												"value": "@pipeline().parameters.parentID",
												"type": "Expression"
											}
										},
										"p_PipelineName": {
											"type": "String",
											"value": {
												"value": "@pipeline().Pipeline",
												"type": "Expression"
											}
										},
										"p_RunID": {
											"type": "String",
											"value": {
												"value": "@pipeline().RunId",
												"type": "Expression"
											}
										},
										"p_StartTime": {
											"type": "DateTime",
											"value": {
												"value": "@utcNow()",
												"type": "Expression"
											}
										}
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "ds_azsql_call_proc",
									"type": "DatasetReference"
								},
								"firstRowOnly": false
							}
						},
						{
							"name": "stor_proc_call_end_logs_failed",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "copy_incremental_load_tables_to_dl",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[schclouddev].[uspADFLogsEndingHierarchy]",
								"storedProcedureParameters": {
									"p_EndTime": {
										"value": {
											"value": "@utcNow()",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"p_ErrorMessage": {
										"value": {
											"value": "@activity('copy_incremental_load_tables_to_dl').output.errors[0].Message",
											"type": "Expression"
										},
										"type": "String"
									},
									"p_parentid": {
										"value": {
											"value": "@activity('lkp_starting_logs').output.value[0].ID",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"p_status": {
										"value": {
											"value": "@pipeline().parameters.statusFail",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_azsql_non_param",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "stor_proc_call_end_logs_success",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "script_update_watermark",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[schclouddev].[uspADFLogsEndingHierarchy]",
								"storedProcedureParameters": {
									"p_EndTime": {
										"value": {
											"value": "@utcNow()",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"p_ErrorMessage": {
										"value": null,
										"type": "String"
									},
									"p_parentid": {
										"value": {
											"value": "@activity('lkp_starting_logs').output.value[0].ID",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"p_status": {
										"value": {
											"value": "@pipeline().parameters.statusSuccess",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_azsql_non_param",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"incLoadTables": {
				"type": "array"
			},
			"bronzeContainer": {
				"type": "string"
			},
			"azsqlSchema": {
				"type": "string"
			},
			"azsqlWatermarktbl": {
				"type": "string"
			},
			"azsqlUsername": {
				"type": "string"
			},
			"statusSuccess": {
				"type": "string"
			},
			"statusFail": {
				"type": "string"
			},
			"parentID": {
				"type": "string"
			}
		},
		"annotations": []
	}
}