pipeline/6_silver_notebooks_execution.json
{
	"name": "6_silver_notebooks_execution",
	"properties": {
		"activities": [
			{
				"name": "for_silver_notebooks_call",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "lkp_fetch_tablelist",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('lkp_fetch_tablelist').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "if_generic_notebook",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "lkp_starting_logs",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(item().NotebookType,'Generic')",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "silver_notebooks_execution_specific",
										"type": "DatabricksNotebook",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"notebookPath": {
												"value": "@item().CustomNotebookPath",
												"type": "Expression"
											}
										},
										"linkedServiceName": {
											"referenceName": "ls_azdbc_conn",
											"type": "LinkedServiceReference"
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "silver_notebooks_execution_generic",
										"type": "DatabricksNotebook",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"notebookPath": {
												"value": "@pipeline().parameters.p_SilverNotebookGeneric",
												"type": "Expression"
											}
										},
										"linkedServiceName": {
											"referenceName": "ls_azdbc_conn",
											"type": "LinkedServiceReference"
										}
									}
								]
							}
						},
						{
							"name": "if_load_failed",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "if_generic_notebook",
									"dependencyConditions": [
										"Completed"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@not(equals(activity('if_generic_notebook').Status, 'Succeeded'))\n",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "stor_proc_call_end_logs_success",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[schclouddev].[uspADFLogsEndingHierarchy]",
											"storedProcedureParameters": {
												"p_CopyActivityEndTime": {
													"value": null,
													"type": "DateTime"
												},
												"p_CopyActivityStartTime": {
													"value": null,
													"type": "DateTime"
												},
												"p_CopyDurationInSecs": {
													"value": null,
													"type": "String"
												},
												"p_Destination": {
													"value": null,
													"type": "String"
												},
												"p_EffectiveIntegrationRunTime": {
													"value": null,
													"type": "String"
												},
												"p_EndTime": {
													"value": {
														"value": "@utcNow()",
														"type": "Expression"
													},
													"type": "DateTime"
												},
												"p_ErrorMessage": {
													"value": null,
													"type": "String"
												},
												"p_NoOfParallelCopies": {
													"value": null,
													"type": "Int32"
												},
												"p_ParentID": {
													"value": {
														"value": "@pipeline().parameters.p_ParentID",
														"type": "Expression"
													},
													"type": "Int32"
												},
												"p_RowsCopied": {
													"value": null,
													"type": "String"
												},
												"p_RowsRead": {
													"value": null,
													"type": "Int32"
												},
												"p_SinkType": {
													"value": null,
													"type": "String"
												},
												"p_Source": {
													"value": null,
													"type": "String"
												},
												"p_SourceType": {
													"value": null,
													"type": "String"
												},
												"p_Status": {
													"value": {
														"value": "@pipeline().parameters.p_statusSuccess",
														"type": "Expression"
													},
													"type": "String"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "ls_azsql_non_param",
											"type": "LinkedServiceReference"
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "stor_proc_call_end_logs_failed",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[schclouddev].[uspADFLogsEndingHierarchy]",
											"storedProcedureParameters": {
												"p_CopyActivityEndTime": {
													"value": null,
													"type": "DateTime"
												},
												"p_CopyActivityStartTime": {
													"value": null,
													"type": "DateTime"
												},
												"p_CopyDurationInSecs": {
													"value": null,
													"type": "String"
												},
												"p_Destination": {
													"value": null,
													"type": "String"
												},
												"p_EffectiveIntegrationRunTime": {
													"value": null,
													"type": "String"
												},
												"p_EndTime": {
													"value": {
														"value": "@utcNow()",
														"type": "Expression"
													},
													"type": "DateTime"
												},
												"p_ErrorMessage": {
													"value": {
														"value": "@if(equals(activity('silver_notebooks_execution_generic').Status,'Failed'),\n\nconcat('Run Page URL: ',activity('silver_notebooks_execution_generic').output.runPageURL,'\\nRun Error: ',activity('silver_notebooks_execution_generic').output.runError),\n\nconcat('Run Page URL: ',activity('silver_notebooks_execution_specific').output.runPageURL,'\\nRun Error: ',activity('silver_notebooks_execution_specific').output.runError)\n)",
														"type": "Expression"
													},
													"type": "String"
												},
												"p_NoOfParallelCopies": {
													"value": null,
													"type": "Int32"
												},
												"p_ParentID": {
													"value": {
														"value": "@pipeline().parameters.p_ParentID",
														"type": "Expression"
													},
													"type": "Int32"
												},
												"p_RowsCopied": {
													"value": null,
													"type": "String"
												},
												"p_RowsRead": {
													"value": null,
													"type": "Int32"
												},
												"p_SinkType": {
													"value": null,
													"type": "String"
												},
												"p_Source": {
													"value": null,
													"type": "String"
												},
												"p_SourceType": {
													"value": null,
													"type": "String"
												},
												"p_Status": {
													"value": {
														"value": "@pipeline().parameters.p_statusFail",
														"type": "Expression"
													},
													"type": "String"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "ls_azsql_non_param",
											"type": "LinkedServiceReference"
										}
									},
									{
										"name": "fail_load_pipeline",
										"type": "Fail",
										"dependsOn": [
											{
												"activity": "stor_proc_call_end_logs_failed",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"userProperties": [],
										"typeProperties": {
											"message": {
												"value": "@if(equals(activity('silver_notebooks_execution_generic').Status,'Failed'),\n\nconcat('Run Page URL: ',activity('silver_notebooks_execution_generic').output.runPageURL,'\\nRun Error: ',activity('silver_notebooks_execution_generic').output.runError),\n\nconcat('Run Page URL: ',activity('silver_notebooks_execution_specific').output.runPageURL,'\\nRun Error: ',activity('silver_notebooks_execution_specific').output.runError)\n)",
												"type": "Expression"
											},
											"errorCode": "0"
										}
									}
								]
							}
						},
						{
							"name": "lkp_starting_logs",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderStoredProcedureName": "[schclouddev].[uspADFLogsStartingHierarchy]",
									"storedProcedureParameters": {
										"p_ADFName": {
											"type": "String",
											"value": {
												"value": "@pipeline().DataFactory",
												"type": "Expression"
											}
										},
										"p_ParentID": {
											"type": "Int32",
											"value": {
												"value": "@pipeline().parameters.p_ParentID",
												"type": "Expression"
											}
										},
										"p_PipelineName": {
											"type": "String",
											"value": {
												"value": "@pipeline().Pipeline",
												"type": "Expression"
											}
										},
										"p_RunID": {
											"type": "String",
											"value": {
												"value": "@pipeline().RunId",
												"type": "Expression"
											}
										},
										"p_StartTime": {
											"type": "DateTime",
											"value": {
												"value": "@utcNow()",
												"type": "Expression"
											}
										},
										"p_TriggerId": {
											"type": "String",
											"value": {
												"value": "@pipeline().TriggerId",
												"type": "Expression"
											}
										},
										"p_TriggerName": {
											"type": "String",
											"value": {
												"value": "@pipeline().TriggerName",
												"type": "Expression"
											}
										},
										"p_TriggerTime": {
											"type": "String",
											"value": {
												"value": "@pipeline().TriggerTime",
												"type": "Expression"
											}
										},
										"p_TriggerType": {
											"type": "String",
											"value": {
												"value": "@pipeline().TriggerType",
												"type": "Expression"
											}
										}
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "ds_azsql_call_proc",
									"type": "DatasetReference"
								},
								"firstRowOnly": false
							}
						}
					]
				}
			},
			{
				"name": "lkp_fetch_tablelist",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@concat('SELECT s.* FROM ',pipeline().parameters.p_azsqlSchema,'.',pipeline().parameters.p_azsqlSilverNotebooksTable,' as s JOIN ',pipeline().parameters.p_azsqlSchema,'.',pipeline().parameters.p_azsqlTablelist, ' as t ON s.sourceSchema=t.sourceSchema and s.sourceTable=t.sourceTableName AND [Status] = 1')",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_azsql_call_proc",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			}
		],
		"parameters": {
			"p_SilverNotebookGeneric": {
				"type": "string"
			},
			"p_SilverContainer": {
				"type": "string"
			},
			"p_BronzeContainer": {
				"type": "string"
			},
			"p_StorageAccount": {
				"type": "string"
			},
			"p_CatalogName": {
				"type": "string"
			},
			"p_SilverSchema": {
				"type": "string"
			},
			"p_BronzeSchema": {
				"type": "string"
			},
			"p_azsqlUsername": {
				"type": "string"
			},
			"p_azsqlSchema": {
				"type": "string"
			},
			"p_azsqlTablelist": {
				"type": "string"
			},
			"p_azsqlSilverNotebooksTable": {
				"type": "string"
			},
			"p_ParentID": {
				"type": "string"
			},
			"p_statusSuccess": {
				"type": "string"
			},
			"p_statusFail": {
				"type": "string"
			}
		},
		"annotations": []
	}
}