pipeline/6_silver_notebooks_execution.json
{
	"name": "6_silver_notebooks_execution",
	"properties": {
		"activities": [
			{
				"name": "for_silver_notebooks_call",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "lkp_fetch_tablelist",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('lkp_fetch_tablelist').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "if_generic_notebook",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(item().NotebookType,'Generic')",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "silver_notebooks_execution_specific",
										"type": "DatabricksNotebook",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"notebookPath": {
												"value": "@item().CustomNotebookPath",
												"type": "Expression"
											}
										},
										"linkedServiceName": {
											"referenceName": "ls_azdbc_conn",
											"type": "LinkedServiceReference"
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "silver_notebooks_execution_generic",
										"type": "DatabricksNotebook",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"notebookPath": {
												"value": "@pipeline().parameters.p_SilverNotebookGeneric",
												"type": "Expression"
											}
										},
										"linkedServiceName": {
											"referenceName": "ls_azdbc_conn",
											"type": "LinkedServiceReference"
										}
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "lkp_fetch_tablelist",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT \n    s.* \nFROM @{pipeline().parameters.p_azsqlSchema}.@{pipeline().parameters.p_azsqlSilverNotebooksTable} s\nJOIN @{pipeline().parameters.p_azsqlSchema}.@{pipeline().parameters.p_azsqlTablelist} t \nON s.sourceSchema=t.sourceSchema\nand s.sourceTable=t.sourceTableName\nAND [Status] = 1;",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_azsql_call_proc",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			}
		],
		"parameters": {
			"p_SilverNotebookGeneric": {
				"type": "string"
			},
			"p_SilverContainer": {
				"type": "string"
			},
			"p_BronzeContainer": {
				"type": "string"
			},
			"p_StorageAccount": {
				"type": "string"
			},
			"p_CatalogName": {
				"type": "string"
			},
			"p_SilverSchema": {
				"type": "string"
			},
			"p_BronzeSchema": {
				"type": "string"
			},
			"p_azsqlUsername": {
				"type": "string"
			},
			"p_azsqlSchema": {
				"type": "string"
			},
			"p_azsqlTablelist": {
				"type": "string"
			},
			"p_azsqlSilverNotebooksTable": {
				"type": "string"
			}
		},
		"annotations": []
	}
}