pipeline/7_gold_notebooks_execution.json
{
	"name": "7_gold_notebooks_execution",
	"properties": {
		"activities": [
			{
				"name": "for_gold_notebooks_call",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "lkp_fetch_tablelist",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('lkp_fetch_tablelist').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "lkp_starting_logs",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderStoredProcedureName": "[schclouddev].[uspADFLogsStartingHierarchy]",
									"storedProcedureParameters": {
										"p_ADFName": {
											"type": "String",
											"value": {
												"value": "@pipeline().DataFactory",
												"type": "Expression"
											}
										},
										"p_ParentID": {
											"type": "Int32",
											"value": {
												"value": "@pipeline().parameters.p_ParentID",
												"type": "Expression"
											}
										},
										"p_PipelineName": {
											"type": "String",
											"value": {
												"value": "@pipeline().Pipeline",
												"type": "Expression"
											}
										},
										"p_RunID": {
											"type": "String",
											"value": {
												"value": "@pipeline().RunId",
												"type": "Expression"
											}
										},
										"p_StartTime": {
											"type": "DateTime",
											"value": {
												"value": "@utcNow()",
												"type": "Expression"
											}
										},
										"p_TriggerId": {
											"type": "String",
											"value": {
												"value": "@pipeline().TriggerId",
												"type": "Expression"
											}
										},
										"p_TriggerName": {
											"type": "String",
											"value": {
												"value": "@pipeline().TriggerName",
												"type": "Expression"
											}
										},
										"p_TriggerTime": {
											"type": "String",
											"value": {
												"value": "@pipeline().TriggerTime",
												"type": "Expression"
											}
										},
										"p_TriggerType": {
											"type": "String",
											"value": {
												"value": "@pipeline().TriggerType",
												"type": "Expression"
											}
										}
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "ds_azsql_call_proc",
									"type": "DatasetReference"
								},
								"firstRowOnly": false
							}
						},
						{
							"name": "gold_notebooks_execution",
							"type": "DatabricksNotebook",
							"dependsOn": [
								{
									"activity": "lkp_starting_logs",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": {
									"value": "@item().NotebookPath",
									"type": "Expression"
								},
								"baseParameters": {
									"silver_container": {
										"value": "@pipeline().parameters.p_SilverContainer",
										"type": "Expression"
									},
									"sgaccount": {
										"value": "@pipeline().parameters.p_StorageAccount",
										"type": "Expression"
									},
									"target_schema": {
										"value": "@item().TargetSchema",
										"type": "Expression"
									},
									"target_table": {
										"value": "@item().TargetTable",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_azdbc_conn",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "stor_proc_call_end_logs_failed_generic",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "gold_notebooks_execution",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[schclouddev].[uspADFLogsEndingHierarchy]",
								"storedProcedureParameters": {
									"p_CopyActivityEndTime": {
										"value": null,
										"type": "DateTime"
									},
									"p_CopyActivityStartTime": {
										"value": null,
										"type": "DateTime"
									},
									"p_CopyDurationInSecs": {
										"value": null,
										"type": "String"
									},
									"p_Destination": {
										"value": null,
										"type": "String"
									},
									"p_EffectiveIntegrationRunTime": {
										"value": null,
										"type": "String"
									},
									"p_EndTime": {
										"value": {
											"value": "@utcNow()",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"p_ErrorMessage": {
										"value": {
											"value": "@concat('Run Page URL: ',activity('gold_notebooks_execution').output.runPageURL,decodeUriComponent('%0A%0D'),'Run Error: ',activity('gold_notebooks_execution').output.runError)",
											"type": "Expression"
										},
										"type": "String"
									},
									"p_NoOfParallelCopies": {
										"value": null,
										"type": "Int32"
									},
									"p_ParentID": {
										"value": {
											"value": "@activity('lkp_starting_logs').output.value[0].ID\n",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"p_RowsCopied": {
										"value": null,
										"type": "String"
									},
									"p_RowsRead": {
										"value": null,
										"type": "Int32"
									},
									"p_SinkType": {
										"value": null,
										"type": "String"
									},
									"p_Source": {
										"value": null,
										"type": "String"
									},
									"p_SourceType": {
										"value": null,
										"type": "String"
									},
									"p_Status": {
										"value": {
											"value": "@pipeline().parameters.p_statusFail",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_azsql_non_param",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "fail_generic_pipeline",
							"type": "Fail",
							"dependsOn": [
								{
									"activity": "stor_proc_call_end_logs_failed_generic",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"message": {
									"value": "@concat('Run Page URL: ',activity('gold_notebooks_execution').output.runPageURL,decodeUriComponent('%0A%0D'),'Run Error: ',activity('gold_notebooks_execution').output.runError)\n",
									"type": "Expression"
								},
								"errorCode": "0"
							}
						},
						{
							"name": "stor_proc_call_end_logs_success_generic",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "gold_notebooks_execution",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[schclouddev].[uspADFLogsEndingHierarchy]",
								"storedProcedureParameters": {
									"p_CopyActivityEndTime": {
										"value": null,
										"type": "DateTime"
									},
									"p_CopyActivityStartTime": {
										"value": null,
										"type": "DateTime"
									},
									"p_CopyDurationInSecs": {
										"value": null,
										"type": "String"
									},
									"p_Destination": {
										"value": null,
										"type": "String"
									},
									"p_EffectiveIntegrationRunTime": {
										"value": null,
										"type": "String"
									},
									"p_EndTime": {
										"value": {
											"value": "@utcNow()",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"p_ErrorMessage": {
										"value": null,
										"type": "String"
									},
									"p_NoOfParallelCopies": {
										"value": null,
										"type": "Int32"
									},
									"p_ParentID": {
										"value": {
											"value": "@activity('lkp_starting_logs').output.value[0].ID\n",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"p_RowsCopied": {
										"value": null,
										"type": "String"
									},
									"p_RowsRead": {
										"value": null,
										"type": "Int32"
									},
									"p_SinkType": {
										"value": null,
										"type": "String"
									},
									"p_Source": {
										"value": null,
										"type": "String"
									},
									"p_SourceType": {
										"value": null,
										"type": "String"
									},
									"p_Status": {
										"value": {
											"value": "@pipeline().parameters.p_statusSuccess",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_azsql_non_param",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "lkp_fetch_tablelist",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@concat('select * from ',pipeline().parameters.p_azsqlSchema,'.',pipeline().parameters.p_GoldNotebookTables)",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_azsql_call_proc",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			}
		],
		"parameters": {
			"p_GoldNotebookTables": {
				"type": "string"
			},
			"p_SilverContainer": {
				"type": "string"
			},
			"p_StorageAccount": {
				"type": "string"
			},
			"p_CatalogName": {
				"type": "string"
			},
			"p_SilverSchema": {
				"type": "string"
			},
			"p_azsqlUsername": {
				"type": "string"
			},
			"p_azsqlSchema": {
				"type": "string"
			},
			"p_azsqlTablelist": {
				"type": "string"
			},
			"p_ParentID": {
				"type": "string"
			},
			"p_statusSuccess": {
				"type": "string"
			},
			"p_statusFail": {
				"type": "string"
			}
		},
		"annotations": []
	}
}